
body{
  /* background-image: url("../images/elements/background_web.png"); */

}
.xmas_font{
  
  text-transform: capitalize;
  color: black;
  padding:10px;
}

h1{
  font-size: 3em;
  margin-top: 0.5em;
  margin-left: 0.5em;
  text-align: center;
}
h2{
  font-size: 2em;
  align-content: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

#clockdiv{
  font-size: 1.5em;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  text-align: center;
}
button{
  font-family: 'Mountains of Christmas', cursive;
  text-transform: capitalize;
  font-size: 20px;
  background-color: #B6244F;
  color: #BFADA3;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  float: right;
  margin-right: 2em;
}
button:hover{
  background-color: black;
  color: #4281A4;
  font-size: 30px;
}
.flex_form{
  font-size: 2em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin: 30px;
  text-align: center;
}
input[type=text]{
  font-size: 1em;
}


/* /code for keeping footer at the bottom of the page// */

html, body {
  height: 100%;
  margin: 0;
}
.wrapper{
  min-height: 100%;
  margin-bottom: -50px;
}
.footer, .push{
  height: 50px;
}
.logo {
  height: 1em;
  width: 1em;
}
footer{
  font-size: 1em;
  text-align: right;
}

#data{
  color: #FE938C;
  text-transform: capitalize;
}
