*{
  font-family: 'Roboto', sans-serif;
}

body{
  display: flex;
  background-image: url("../images/elements/background_web.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  will-change: transform;
  z-index: -1;
}

/* text parts: */

h1{
  font-size: 5em;
  margin-top: 0.2em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #C9EAFF;
}

h3{
  font-size: 2em;
  margin-top: 0.2em;
  line-height: 130%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #C9EAFF;
}

p{
  font-size: 1.3em;
  margin-top: 0.5em;
  margin-left: 0.5em;
  text-align: left;
  line-height: 130%;
  font-family: 'Roboto', sans-serif;
  color: #C9EAFF;
}

#quiz{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-left: 0.5em;
  text-align: left;
  line-height: 130%;
  font-family: 'Roboto', sans-serif;
  color: #C9EAFF;
}

.answers{
  display: flex;
  flex-direction: column;
}

/* button parts: */

#continue, .team, button {
  font-size: 2em;
  background-color: #45DCFF;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  color: #26153D;
  text-align: center;
  text-decoration: none;
}

.play {
  font-size: 1em;
  background-color: #45DCFF;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  color: #26153D;
  text-align: center;
  text-decoration: none;
}

nav {
  display: flex;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  color: #26153D;
  text-align: center;
  text-decoration: none;
}

#continue:hover, .team:hover, button:hover, .play:hover , nav:hover {
  background-color: #26153D;
  color: #45DCFF;
}

/* image parts: */

#game_logo{
  margin: 2%;
  height: 170px;
}

#sleeping_santa, #sled_with_grinch_right{
  margin: 0.02%;
  height: 170px;
  opacity: 1;
}

#santa_celebrating{
  margin: 2%;
  height: 270px;
}

#evil{
  margin: 5%;
  height: 300px;
}

.elf, img{
  margin: 5%;
  height: 200px;
}

#credit_elves{
  margin: 2%;
  height: 200px;
  opacity: 1;
}

/* container parts: */

.container{
  display: flex;
  width: 80%;
  height: 40%;
  background: #182145;
  border: 20px;
  border-style: solid;
  border-color: #26153D;
  border-radius: 10px;
  padding: 0px 20px 20px 20px;
  margin: 2%;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #C9EAFF;
}

.container_story{
  display: flex;
  width: 80%;
  height: auto;
  background-color: rgba(0,0,0,.0);
  margin: auto;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;
}

.container_team{
  display: flex;
  width: 80%;
  background-color: rgba(0,0,0,.0);
  margin: -5%;
  align-content: center;
  justify-content: center;

}

.container_quiz{
  display: flex;
  width: 80%;
  height: 60%;
  background: #182145;
  border: 20px;
  border-style: solid;
  border-color: #26153D;
  border-radius: 10px;
  padding: 0px 20px 20px 20px;
  margin: 2%;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #C9EAFF;
}

.container_index{
  display: flex;
  width: 86%;
  height: 40%;
  background-color: rgba(0,0,0,.0);
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
}

.small{
  display: flex;
  width: 15%;
  height: 100%;
  background: #182145;
  border: 20px;
  border-style: solid;
  border-color: #26153D;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #C9EAFF;
}

.santa_container{
  display: flex;
  width: 80%;
  height: 15%;
  background-color: rgba(0,0,0,.0);
  margin: auto;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.elves, .celebration {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
}

.grinch{
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: flex-end;
}

@media (max-width: 800px) and (orientation:portrait){
  body {
   height: auto;
   -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(90deg);
   background-image: url("../images/elements/background_web.png") 0 0 repeat;
  }

  h1{
    font-size: 3.5em;
    margin-top: 0.2em;
  }

  p{
    font-size: 1em;
  }

  #quiz{
    font-size: 1.2em;
    margin-top: 0.3em;
    margin-left: 0.3em;
  }

  #continue, .team, button {
    font-size: 1.5em;
  }

  .elf, img {
    margin: 5%;
    height: 130px;
  }

  #evil{
    margin: 5%;
    height: 230px;
  }

  #santa_celebrating{
    margin: 2%;
    height: 150px;
  }

}

/* the background isn't rotating yet :( */
  @media (max-width: 500px) and (orientation:portrait){
    body {
     height: 100vw;
     -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
     -o-transform: rotate(90deg);
     -ms-transform: rotate(90deg);
     transform: rotate(90deg);
     background-image: url("../images/elements/background_web.png") 0 0 repeat;
    }
/*welcome page for mobile*/

    #game_logo{
      height: 50px;
      width: 400px;
    }

    .container {
      display: flex;
      width: 100%;
      height: 40%;

      position: absolute;
      left: 60%;
      margin-left: -60px;
    }
    .container_index{
      display: flex;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.0);
      margin: 10px;
      flex-direction: column;
      justify-content: flex-end;
    }

      .small{
        position: absolute;
        left: 50%;
        margin-left: -20px;
        display: flex;
        width: 100%;
        height: 20%;
        background: #182145;
        border: 20px;
        border-style: solid;
        border-color: #26153D;
        border-radius: 10px;
        padding: 10px 10px 10px 10px;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: flex-end;
        font-family: 'Roboto', sans-serif;
        color: #C9EAFF;
      }
      #sleeping_santa{
        margin: 10%;
        height: 90px;
        width: 110px;
        opacity: 1;
      }
/*end welcome page*/
/*story*/
      .container_quiz{
        display: flex;
        position: absolute;
        left: 20%;
        margin-left: -30px;
        width: 100%;
        height: 70%;
        background: #182145;
        border: 20px;
        border-style: solid;
        border-color: #26153D;
        border-radius: 10px;
        padding: 0px 20px 20px 20px;
        margin: 5%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        color: #C9EAFF;
      }
      .santa_container {
          display: flex;
          position: absolute;
          width: 20px;
          height: 10px;
          background-color: rgba(0,0,0,.0);
          top: 70%;
          margin-top: 70px;
          left: 90%;
          margin-left: 300px;
          align-content:flex-end;
          justify-content: flex-end;
          align-items: flex-end;
      }
/*mobile mobile_tutorial*/

    .mobile_tutorial {
      display: flex;
      position: absolute;
      left: 10%;
      margin-left: -10px;
      right: 10%;
      margin-right: -10px;

      width: 550px;
      height: 220px;
      margin: 2%;

      background: none;
      border: none;

      flex-direction: row;
      justify-content: space-around;
      align-content: center;
      align-items: center;
    }
    .tutorialH1 {
      font-size: 2em;
      /* margin-top: 0.2em; */
      text-align: center;
    }
    .letsGO{
      display: flex;
      align-self: flex-end;
      position: absolute;
      left: 40%;
      margin-left: 400px;
      top: 70%;
      margin-top: 70px;
    }


    h1{
      font-size: 2.5em;
      margin-top: 0.2em;
    }

    p{
      font-size: 0.9em;
    }

    #quiz{
      font-size: 0.9em;
      margin-top: 0.2em;
      margin-left: 0.2em;

    }

    #continue, .team, button {
      font-size: 1em;
    }

    .elf, img {
      margin: 5%;
      height: 110px;
    }

    #evil{
      margin: 5%;
      height: 200px;
    }

    #santa_cebrating{
      margin: 2%;
      height: 120px;
    }

}
